<div th:fragment="navbar">

<nav class="navbar">
   <a th:href="@{/}"><img th:src="@{img/logo.jpg}" alt="Kvecerina_Logo" height="60"></a>
    <ul id="menu-list" class="nav-list">
    <li  class="list-item"><a th:href="@{/all}">Емисии</a></li>
    <li sec:authorize="isAuthenticated()" class="list-item"><a th:href="@{/new}">Нова</a></li>
    <li class="list-item"><a th:href="@{/artists}">Изведувачи</a></li>
    <li sec:authorize="hasRole('ROLE_ANONYMOUS')" class="list-item"><a type="button" id="login-open-popup"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
    <li sec:authorize="isAuthenticated()" class="list-item"><a th:href="@{/logout}"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
    <li class="list-item">
      <a target="_blank" href="https://mk-mk.facebook.com/Radio2MRT/">
         <i class="fab fa-facebook"></i>
      </a>
    </li>
   </ul>
   
   <div id="menu" class="menu">
   
   <div class="menu-line"></div>
   <div class="menu-line"></div>
   <div class="menu-line"></div>
   </div>
</nav>

<div id="login-popup" class="login-popup">
   <div class="overlay"> </div>
   <div class="content">
   <div id="close-btn" class="close-btn">&times</div>
    <div class="container">
        <form  th:action="@{/}" method="post">
          
          <div  class="form-group">
           <input name="username" maxlength="100" type="email" required="required"/>
           <label for="input"  class="control-label">Електронска Пошта</label><i class="bar"></i>
          </div>
    
         <div class="form-group">
           <input type="password" name="password" maxlength="15" required="required"/>
           <label for="input" class="control-label">Лозинка</label><i class="bar"></i>
         </div>
         
            	
          <div class="button-container">
           <button type="submit" class="button"><span>Влези</span></button>
          </div>
        </form>
      </div>
    </div>
   </div>

</div>