h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}
table{
  width:100%;
  table-layout: fixed;
}

.tbl-content{
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}

td{
  padding: 5px;
  text-align: left;
  vertical-align:middle;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  border-bottom: solid 2px rgba(255,255,255,0.3);
}
img{
	height: 150px;
	border-radius: 0.5rem;
}

.full {
  background: -webkit-linear-gradient(left, violet, pink);
  background: linear-gradient(to right, violet, pink);
  font-family: 'Roboto', sans-serif;
  padding:50px;
}
section{
  margin: 50px 150px;
}

.input {
	width: 30%;
	margin: 10px 0px;
	height: 20px;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
}

.input-btn {
	background-color: violet;
	border-color: pink;
}

.all {
	background-color: #ff9eed;
	border-color: pink;
}
.row form  {
   display: inline;	
}



@media (max-width: 700px) {
td img{
	height: 90px;
}
td{
  padding: 5px;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

td:last-child{
	float:right;
}

section{
  margin: 1px;
}

.input {
	width: 50%;
	margin: 10px 0px;
	height: 20px;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
}
.full {
  padding:5px;
}

.artist-fullname{
	font-size: 17px;
}
h1{
	 margin-bottom: 20px;
}
}
  

  