:root {
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainTransition: all 0.3s linear;
	}
	

.shows-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
  padding-bottom: 100px;
}

.showslist {
  padding: 5rem 0;
}

.img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem 0.5rem 0 0;
}


.show {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.show:hover {
  box-shadow: var(--darkShadow);
}

a{
	padding: 10px;
	text-decoration: none;
	color: magenta;
}