@font-face {
	font-family: 'AlexaScript2';
	src: url(fonts/AlexaScript.otf);
	font-style: normal;
	font-weight: 300;
	color: black;
}

section{
  margin: 50px 150px;
}
.title {
   margin: 2rem 0;
   text-align: center;
   font-family: AlexaScript2;
   font-weight: 400;
   color: #eb6ec5;
   font-size: 50px;
}
img , audio , form {
	width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    
}

audio {
	padding: 20px;
}

.bx-trash {
	font-size: 20px;
	color: violet;
}

i:hover {
	cursor:pointer;
	color:red;
}

.btn-trash {
	border: none;
}



table{
  width:100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.tbl-content{
  background: linear-gradient(to right , pink, violet);
  font-family: 'Roboto', sans-serif;
  padding:20px;
  overflow-x:auto;
  border-radius: 10%;
  box-shadow:2px 7px 5px 1px rgba(0, 0, 0, 0.5);
}


.td-img {
	width: 80px;
	height: 80px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 3px;
	float: left;
}
.artist-name{
	float: right;
}

td {
	color:white;
	border-bottom: 2px solid white;
	border-top: 2px solid white;
	font-weight: 600;
}

td:last-child {
	width: 5%;
}

.td-year {
	width: 15%;
	text-align: center;
}

.td-year input {
	size: 4;
	width: 40px;
}

.artist-remove{
	margin: 0px;
	padding-bottom: 5px;
	padding-left: 40px;
}

.artist-name{
	text-align: left;
}


.artist-info {
	display: flex;
	flex-wrap: wrap;
}

.artist-info p {
	margin-top: 30px;
	
}

.song-title{
	text-align: center;
}

.new-song-link  {
	padding: 15px;
	text-decoration: none;
	color: white;
	margin-bottom: 10px;
	text-align: center;
}

.image {
	padding-bottom: 5px;
}

a{
	text-decoration: none;
	color: white;
	padding: 10px;
	border-radius: 10%;
}
.new-song-link a:hover {
	background-color: magenta;
}


@media (max-width: 1000px) {
	.artist-info p {
	margin-top: 5px;
	padding-top: 5px;
	
}
}


@media (max-width: 700px) {
 section{
  margin: 5px 1px;
}
img ,audio , form  {
	padding:1px;
    border-radius: 10%;
    width: 90%;
}
.tbl-content{
  padding:5px 0px 0px 0px;
  overflow-x:auto;
  border-radius: 0%;
  box-shadow:none;
}

audio{
	margin-top:20px;
	margin-bottom:20px;
}

.hide {
  display: none;
  }
.song-title{
	text-align: left;
}
td:first-child {
	width: 40%;
}

}