.shows-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

.showslist {
  padding: 5rem 0;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}

body {
	background-color: #d1b3ff;
}