:root {
  --primary-color: #333;
  --secondary-color: #444;
  --overlay-color: rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
	font-family: 'AlexaScript';
	src: url(fonts/AlexaScript.otf);
	font-style: italic;
	font-weight: 300;
	color: #eb6ec5;
}

@font-face {
	font-family: 'AlexaScript2';
	src: url(fonts/AlexaScript.otf);
	font-style: normal;
	font-weight: 300;
	color: black;
}

body {
  
  line-height: 1.6;
  color: #333;
  font-size: 1.1rem;
 
}


.about {
  text-align: center;
  vertical-align: middle;
  padding: 152px 25px;
  line-height: 90px;
  font-family: 'AlexaScript2';
  font-size: 2rem;
  background-color: #999966;
  color: white;
  }

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}



.section-a {
  margin: 2rem 0;
   text-align: center;
   font-family: AlexaScript;
   font-weight: 400;
   color: #eb6ec5;
}

.section-a .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
}

.section-a h1 {
  font-size: 4rem;
  font-weight: 400;
  
}

.section-a h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

.section-b {
  position: relative;
  background: url('https://i.ibb.co/1RS1dqC/section-b.jpg') no-repeat bottom center/cover;
  height: 600px;
}

.section-b-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 860px;
  padding: 5rem 0;
}

.section-b-inner h3 {
  font-size: 1.5rem;
}

.section-b-inner h2 {
  font-size: 3.5rem;
  padding: 100px;
  margin-top: 1rem;
}

.section-b-inner p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.section-c .gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section-c .gallery img:first-child {
  /* grid-row-start: 1;
  grid-row-end: 3; */
  grid-row: 1/2;
  grid-column: 1/2;
}



.section-c .gallery img {
  width: 100%;
  height: 100%;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 30px;
}

.btn:hover {
  background: var(--secondary-color);
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--overlay-color);
}

@media (max-width: 700px) {
  .section-a .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section-a .container div:first-child {
    order: 2;
  }

  .section-a .container div:nth-child(2) {
    order: -1;
  }

  .section-a img {
    width: 80%;
    margin: auto;
  }
  .about {
  text-align: center;
  vertical-align: middle;
  padding: 25px;
  font-size: 1.5rem;
  line-height: 65px;
  }

  .section-c .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
  }
  

}

.main-image {
	max-width: 600px;
	border-radius: 50%;
}
