.small-container {
	max-width: 1080px;
}


table {
	width: 100%;
	border-collapse: collapse;
}

.cart-info {
	display: flex;
	flex-wrap: wrap;
}

th {
	text-align: left;
	padding: 5px;
	color: #fff;
	background: #9900cc;
	font-weight: normal;
}



td a {
	color: #ff523b;
	font-size: 12px;
}

td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
	padding: 1px
}

td {
	border-bottom: 0.5px solid gray;
}


td:last-child {
	text-align: right;
}

th:last-child {
	text-align: right;
}
@media (max-width: 700px) {
  .top img {
    width: 80%;
    margin: auto;
  }
  .hide {
  display: none;
  }
  
  }