<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rafmak</title>
  <link rel="stylesheet" th:href="@{/css/grid.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <style>
 
    </style>
</head>

<body>

<div class="cover-container d-flex p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand text-start" href="/">
                        <img th:src="@{img/logo.svg}" alt="Kvecerina_Logo" height="30">
                        Zavodliva Kvecerina
                    </a>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="btn custom-button btn-outline-warning text-end"target="_blank" href="/" rel="noopener" >Learn More</a>
                        </li>
                    </ul>
                </div>
              </nav>
        </div>
      </header>
  
</div>

 <div class="container">
<h1 class="middle">shows</h1>

 <section class='showsList'>
            <div class='shows-center'>
             <article class='room' th:each="show : ${shows}" >
            
              <div class="price-top">
                 <img th:src="${show.imageUrl}" alt='sander image'/> 

              </div>
              <a th:href="@{/single/{id}(id=${show.id})}" th:text="${show.name}" class='btn-primary room-link'>
                  
                  </a>
            
            
        </article>

            </div>
        </section>

</div>
</body>

</html>