<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rafmak</title>
  <link rel="stylesheet" th:href="@{/css/audio.css}">
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>
   
  <style>
 
    </style>
</head>

<body>

<h1 th:text="${show.filename}"></h1>

<div class="price-top">
 <img th:src="${show.imageUrl}" alt='sander image'/>  
</div>
<form th:action="@{/updateImage/{id}(id=${show.id})}" enctype="multipart/form-data" method="post"  >
          <input type="file" name="fileImage" id="fileImage"  required="required"/>
                  <button>change</button>
          </form>

 <div class="container-audio">
              <audio controls >
               <source th:src="${show.url}" type="audio/mp3">
              
              </audio>
</div>   
<div class="container-audio">
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
    </div> 
</body>

</html>          