<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Заводлива Квечерина</title>
   <link rel="shortcut icon" type="image/ico" th:href="@{/img/favicon.ico}"/>
   <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>
   <link rel="stylesheet" th:href="@{/css/navbar.css}">
   <link rel="stylesheet" th:href="@{/css/popup.css}">
   <link rel="stylesheet" th:href="@{/css/single.css}">
   
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
   <style>
   </style>
</head>

<body>

   <div th:replace="fragments/navbar :: navbar"></div>

   <section>
   <div class="single">
     <h2 class="title" th:text="${show.title}"></h2>
     <img class="image"  th:src="${show.imageUrl}" alt='sander image'/>  
      <form sec:authorize="isAuthenticated()" th:action="@{/updateImage/{id}(id=${show.id})}" enctype="multipart/form-data" method="post"  >
       <input type="file" name="fileImage" id="fileImage"  required="required"/>
       <button>change</button>
      </form>

     <div class="container-audio">
     
         <audio th:if="${show.audioUrl != null}" id="audio" controls controlsList="nodownload">
          <source  th:src="${show.audioUrl}" >
         </audio>
     </div>   
    </div>
   <div class="tbl-content">
   
    <div class="new-song-link">
    <h2 th:if="${show.songs.size eq 0}" >Песните сеуште не се поставени.</h2>
    <h2 th:unless="${show.songs.size eq 0}" >Изведувачи и Песни</h2>
    </div>
    <table >
      <tbody>
     
     <tr th:each="song : ${show.songs}" class="cart">
      <td>
        <div id="artist-info" class="artist-info" th:each="artist : ${song.artists}" >
          <img class="td-img" th:src="${artist.imageUrl}">
          
          <p class="hide artist-name" th:text="${artist.fullName}"></p>
          
          <form class="hide artist-remove" sec:authorize="isAuthenticated()" th:action="@{/removeArtistFromSong/{id}/{sid}/{aid}(id=${show.id},sid=${song.id},aid=${artist.id})}" method="post">
             <button id="artist-remove" class="btn-trash"><i class="bx bx-trash"></i></button>
          </form>
        </div>
        
        <form class="hide" sec:authorize="isAuthenticated()" th:action="@{/addArtistToSong/{id}/{sid}(id=${show.id},sid=${song.id})}" th:object="${artist}" method="post">
         <select  th:name="aid">
             <option th:each="artist : ${artists}"
              th:value="${artist.id}"
              th:text="${artist.fullName}"/>
            </select>
          <button class="artist-btn" type="submit" >Додај</button>
        </form>
    
      </td>
      <td class="song-title" >
        <h4 th:text="${song.name}"></h4>
         <form class="form-title" sec:authorize="isAuthenticated()" th:action="@{/updateSongTitle/{id}/{sid}(id=${show.id},sid=${song.id})}" method="post">
         <input type="text" placeholder="смени наслов" th:name="title" />
           <div class="button-container">
           <button type="submit" class="button"><span>Смени</span></button>
          </div>
        </form>
      </td>
      
      <td class="hide td-year" >
        <h4 th:text="${song.releaseYear}"></h4>
        <form class="year" sec:authorize="isAuthenticated()" th:action="@{/updateSongYear/{id}/{sid}(id=${show.id},sid=${song.id})}" method="post">
         <input type="text" placeholder="смени година" th:name="year" />
          <button class="artist-btn" type="submit" >Смени</button>
        </form>
       </td>
      <td class="delete-song">
          <form class="hide" sec:authorize="isAuthenticated()" th:action="@{/deleteSong/{id}/{sid}(id=${show.id},sid=${song.id})}" method="post">
             <button class="btn-trash"><i class="bx bx-trash"></i></button>
          </form>
      </td>
      
      
      </tr>
    </tbody>
    </table>
    <div  sec:authorize="isAuthenticated()" class="new-song-link">
    <a  th:href="@{/newSong/{id}(id=${show.id})}">Додај Песна</a>
    </div>
    
  </div>
   </section>
   
   
   
   <div th:replace="fragments/footer :: footer"></div>
   
    
    <script type="text/javascript" th:src="@{/js/popup.js}"></script>
    <script type="text/javascript" th:src="@{/js/navbar.js}"></script>
</body>

</html>          